<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatis.mapper.UserMapper">
    <!-- int insertUser(); -->
    <insert id="insertUser">
        insert into t_user values(null, 'admin','123456',23,'男','123456@qq.com')
    </insert>

    <update id="updateUser">
        update t_user set username = 'zsy', password = '150724' where id = 3
    </update>

    <select id="getAllUser" resultType="abc">
        select * from t_user
    </select>

    <select id="getUserById" resultType="abc">
        select * from t_user where id = #{id}
    </select>

    <select id="getUserByName" resultType="abc">
        select * from t_user where username = '${username}'
    </select>

    <select id="checkLogin" resultType="abc">
        select * from t_user where username = #{username} and password = #{password}
    </select>

    <insert id="insertUserByMap">
        insert into t_user values(null, #{username}, #{password}, #{age}, #{gender}, #{email} )
    </insert>

    <insert id="insertUserByObject">
        insert into t_user values(null, #{username}, #{password}, #{age}, #{gender}, #{email})
    </insert>

    <select id="checkLoginByPara" resultType="abc">
        select * from t_user where username = #{username} and password = #{password}
    </select>
</mapper>